---
# User and group management
- name: Create naaccord group
  ansible.builtin.group:
    name: naaccord
    gid: "{{ base_naaccord_gid }}"
    state: present
  when: base_create_naaccord_user | default(true)
  tags:
    - base
    - users

- name: Create naaccord user
  ansible.builtin.user:
    name: naaccord
    uid: "{{ base_naaccord_uid }}"
    group: naaccord
    comment: "NA-ACCORD Application User"
    home: /home/naaccord
    shell: /bin/zsh
    create_home: yes
    system: no
  when: base_create_naaccord_user | default(true)
  tags:
    - base
    - users

- name: Create .ssh directory for naaccord user
  ansible.builtin.file:
    path: /home/naaccord/.ssh
    state: directory
    owner: naaccord
    group: naaccord
    mode: '0700'
  when: base_create_naaccord_user | default(true)
  tags:
    - base
    - users

- name: Configure sudo access for naaccord user
  ansible.builtin.copy:
    dest: /etc/sudoers.d/naaccord
    content: |
      # NA-ACCORD user sudo configuration
      naaccord ALL=(ALL) NOPASSWD: ALL
    mode: '0440'
    validate: /usr/sbin/visudo -cf %s
  when: base_create_naaccord_user | default(true)
  tags:
    - base
    - users

- name: Set proper permissions on /opt/naaccord
  ansible.builtin.file:
    path: /opt/naaccord
    state: directory
    owner: naaccord
    group: naaccord
    mode: '0755'
    recurse: no
  when: base_create_naaccord_user | default(true)
  tags:
    - base
    - users

- name: Deny SSH access for naaccord user
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    line: "DenyUsers naaccord"
    state: present
    validate: /usr/sbin/sshd -t -f %s
  when: base_create_naaccord_user | default(true)
  notify: restart sshd
  tags:
    - base
    - users
