<EntityDescriptor entityID="https://login.jh.edu/idp/shibboleth"
                  xmlns="urn:oasis:names:tc:SAML:2.0:metadata"
                  xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
                  xmlns:shibmd="urn:mace:shibboleth:metadata:1.0">
    <IDPSSODescriptor protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol">
        <Extensions>
            <shibmd:Scope regexp="false">johnshopkins.edu</shibmd:Scope>
            <shibmd:Scope regexp="false">jh.edu</shibmd:Scope>
        </Extensions>
        <KeyDescriptor use="signing">
            <ds:KeyInfo>
                <ds:X509Data>
                    <ds:X509Certificate>
MIIEGzCCAoOgAwIBAgIUJTtiXBcXQ01+vJXrxmI9WCM6Bz8wDQYJKoZIhvcNAQEL
BQAwFzEVMBMGA1UEAwwMbG9naW4uamguZWR1MB4XDTI0MDExMDE3MzYzMloXDTQ0
MDExMDE3MzYzMlowFzEVMBMGA1UEAwwMbG9naW4uamguZWR1MIIBojANBgkqhkiG
9w0BAQEFAAOCAY8AMIIBigKCAYEAwm+SLvs4AyRroVi06uX2ZIhJcIuWdnw5a1vJ
8uW50HOrqvhbBGB6qbcat3JM9WnwNPuK7gspSmB/GCV2s4vzGgdSwziZj53J+Mnv
8JQfmlHsW05u6atJI6q+ssy/P/KXuiL1gK6Ca6nO3msa/zVT7t//n6czvHJkUfeR
8BlFvwug3fEFXWxpORAfX99mJ/je+JiSM+M+9IVYDboISraoWKY0bgTKrvmXvqla
Fp27r+ed7UnDWGKg4TmyNgHn6fd2j1+L5A9AvOCWIjFPhsC5KFSjNMTXEmOMr2v0
YF4Cc61v0lNBweDI7cx9IRCLtlJnuHG5BvLHU+K6MjT6Q8o7+93dLBUnqY0fy9od
UsV5WZbyAANar+wDpTUSRNdrXtZbJOY0BBhGFUtyxHOkydFiq7F648blpkiDDl86
DUy+EpucTPaky9q3orVHjiDmehJwGix7vxMyWdf12qMT1e/34dBBAnbZcly9NTBE
gprygch3/JSyQgVfjCpJhD5LMhkdAgMBAAGjXzBdMB0GA1UdDgQWBBSdTEIrUneu
f2iXzxjv+XvcCuJO4jA8BgNVHREENTAzggxsb2dpbi5qaC5lZHWGI2h0dHBzOi8v
bG9naW4uamguZWR1L2lkcC9zaGliYm9sZXRoMA0GCSqGSIb3DQEBCwUAA4IBgQBc
ELRXh8jmiN/1A1Hajm51wjeepejICXRHvM3ATxwtE/Ef3jYqSOhjrRJz9V4dkn+a
5dJ/xfXp0jWFIXmtjy43Z6SNC5RK36/62N8nFOhtyy5v11ta8XFfERaAwihnmYIy
PmyKc8nR7vllegJ+pB3FiparOezCkWRK1kLR3i+o28GirIgE6ZnlCSiYgWTcl+S1
NOknYRFC5DoZwzIS4ndfCGNoeAYgS+dtyCNwD3Few5UTBqyPYKhgWMNU1mu+tTd1
bMaz4PfdWPKmHP3/1zPPHg/6LZeHx3A5cCMuhBjskGYx9f/nlAhpyiFUuWbdF1Xv
dJB+euWpl1fgSxREp3R2apfWCH4fXFLiZMOUNnh8AtBsj+4mgFtGtuybo7vQdS2X
oBZuIb1hmbRZO/g/dBl/bZmK/wqRgETw5xuicbXYAriDvazshaG+JMyfOmqVUFCl
81VZ1CNIM8/SPJI2v7MRpBH+qvvukkb5I71FKc7HndVBRzcVghME7TLJn5hykoM=
                    </ds:X509Certificate>
                </ds:X509Data>
            </ds:KeyInfo>
        </KeyDescriptor>
        <KeyDescriptor use="encryption">
            <ds:KeyInfo>
                <ds:X509Data>
                    <ds:X509Certificate>
MIIEHDCCAoSgAwIBAgIVAMYDphHPsfyQ/K2BK7y77mXWuLbsMA0GCSqGSIb3DQEB
CwUAMBcxFTATBgNVBAMMDGxvZ2luLmpoLmVkdTAeFw0yNDAxMTAxNzM2MzJaFw00
NDAxMTAxNzM2MzJaMBcxFTATBgNVBAMMDGxvZ2luLmpoLmVkdTCCAaIwDQYJKoZI
hvcNAQEBBQADggGPADCCAYoCggGBAJpOxAm1PEZcABt4rc7qxEMmjWXaTvxdO7+h
zvIDoA33d8WSpNhc2pIaEeat0TavhjIuyKat8pTbvZ+hORfiyKIfyiFe2kYyliQj
/gTD8QI8V0+LauG+bGkM+KpXVe/XZMcTT5svByeFPlYpzNmNo/io6zPhtZ86Rbo+
UB8cySepegX/QODACI3GcBq9fmWVXXEBwXyqEMck7mTO4fdHL5k+4koCBhOl4+bC
8KKlM4t5nTlXzFEsBCN7XTSvcpkfSKyRrD9H1PG2L6i01pz/ppDc96IRzrmUY9Bx
Ss76Fw+RcM96x7ce+pkTewUKH+wn5MjLnWMpIxZV3oe0gPoQyvR+CuDAizqc1Nkm
QhOs2MSpSUcS56uSINI62T7NUdxMlNd3ShJWvu1+ie7C2vJw3ZtD5zGUGFo7hk35
f2laP2R4TYRDx0PJDGjiLADNMXA63ab20bsSj8EApXjyWAz95AsmdAVznafjh3QH
DaocXg6P3SHkOb/EzDEZ8u4UlvbJYQIDAQABo18wXTAdBgNVHQ4EFgQUG7hKizun
aTcmvmf/LDRIB4M3d4wwPAYDVR0RBDUwM4IMbG9naW4uamguZWR1hiNodHRwczov
L2xvZ2luLmpoLmVkdS9pZHAvc2hpYmJvbGV0aDANBgkqhkiG9w0BAQsFAAOCAYEA
CuHMx/ARKls3c3ZDwLMU86ruP2s1fdXWijOUWBCQCnBtTz6UH5Ynx4lBqbg+6giK
PhPTftdX/mCxQ3b2AXkOJ3OoS1wmM8bfP/6E702K+7rRZ4XPul2NIPvLUSR6QMjC
jBBHBOee0C+R9Ufg200E2/jSkHj2C4TZcVAM3/GllvxDH9m3yqRloxh9gPm6gYVi
VGuS8l/jhwvOlO8tJoW0r7rfvavM9AkubQ5h9GCo3iC4BjCdGeu6AhwTn5JvwPh2
AO+fmW+XDZMOKW5WKcpSkOFUwu/2fMBE8fq+pe8kmja1zOKnl8JsCvdZkjzDQUED
gQZJpTWw1t5ovgBQ/I+RF7S62zWAQSSlJHybvOseSb8BtWqf4Qcgs4qsqMdEM/jw
oBGZrp6y9AnbiTxEKgx2FGc0OUx+yEC1C5k3dFMlgfG0ssrdkSn0x/sGlRAFJu1n
xpC8cXWmFpiMOo60V6DnqAVjEFo89V1Mc+Zf37EU7KIQtolcVop94LkdV+1YGNBs
                    </ds:X509Certificate>
                </ds:X509Data>
            </ds:KeyInfo>
        </KeyDescriptor>
        <SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect" Location="https://login.jh.edu/cgi-bin/logoff.pl"/>
        <SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect" Location="https://login.jh.edu/idp/profile/SAML2/Redirect/SSO" />
        <SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"     Location="https://login.jh.edu/idp/profile/SAML2/POST/SSO" />
    </IDPSSODescriptor>
    <Organization>
        <OrganizationName xml:lang="en">Johns Hopkins University</OrganizationName>
        <OrganizationDisplayName xml:lang="en">Johns Hopkins</OrganizationDisplayName>
        <OrganizationURL xml:lang="en">https://www.jhu.edu/</OrganizationURL>
    </Organization>
    <ContactPerson contactType="support">
        <GivenName>Enterprise Authentication Team</GivenName>
        <EmailAddress>mailto:enterpriseauth@jh.edu</EmailAddress>
    </ContactPerson>
</EntityDescriptor>
