---
# Hosts management role - Add WireGuard IPs to /etc/hosts

- name: Add services server WireGuard IP to /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^10\.100\.0\.11\s+'
    line: '10.100.0.11 services.naaccord.internal'
    state: present
    backup: yes
  tags: ['hosts', 'wireguard']

- name: Add web server WireGuard IP to /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^10\.100\.0\.10\s+'
    line: '10.100.0.10 web.naaccord.internal'
    state: present
    backup: yes
  tags: ['hosts', 'wireguard']

- name: Add database hostname to /etc/hosts for Docker containers
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^.*\s+db\.naaccord\.internal\s*$'
    line: '127.0.0.1   db.naaccord.internal'
    state: present
    backup: yes
  tags: ['hosts', 'database']
