---
# Handlers for base role
- name: restart docker
  ansible.builtin.systemd:
    name: docker
    state: restarted
    daemon_reload: yes

- name: reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes

- name: restart sshd
  ansible.builtin.systemd:
    name: sshd
    state: restarted
