<div>
  <div class="px-4 sm:px-0">
    <h3 class="text-lg/7 font-semibold text-gray-900">Audit Results</h3>
    <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">Please review the below carefully to ensure it is as you expected.</p>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm/6 font-medium text-gray-900">Data File Type</dt>
        <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">{{ data_file_type_label }}</dd>
      </div>
    </dl>
  </div>
</div>
